@import "tailwindcss";

@theme inline {
  --color-primary: #ffffff;
  --color-secondary: #303538;
  --color-accent: #8266ff;
  --color-section: #f1f1f1;
  --color-section-dark: #363e41;

  --color-text-primary: #000;
  --color-text-secondary: #727272;
  --color-text-secondary-dark: #cfcfcf;

  --spacing-max-width: 52.75rem;

  --breakpoint-xs: 28.75rem;
}

* {
  @apply text-text-primary text-[1.1rem] select-none box-border scroll-smooth! border-0 outline-0;
}

body {
  @apply bg-primary overflow-x-hidden;
}

body:has(dialog[open]) {
  @apply overflow-hidden!;
}

h1 {
  @apply text-[2.5rem] font-normal leading-8;
}

h2 {
  @apply text-[1.5rem] font-medium leading-4;
}

p {
  @apply text-text-secondary;
}

dialog {
  @apply m-auto border-none outline-none rounded-lg backdrop:backdrop-blur-xl backdrop:bg-secondary/50;
}
