@import "tailwindcss";

@theme inline {
  --color-primary: #ffffff;
  --color-secondary: #303538;
  --color-accent: #8266ff;
  --color-section: #f1f1f1;
  --color-section-dark: #363e41;

  --color-text-primary: #000;
  --color-text-secondary: #727272;
  --color-text-secondary-dark: #999999;

  --spacing-max-width: 52.75rem;

  --breakpoint-xs: 28.75rem;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  user-drag: none;
  -webkit-user-drag: none;

  @apply font-[Poppins] text-text-primary text-[1.1rem] select-none box-border scroll-smooth! border-0 outline-0;
}

*::-webkit-scrollbar {
  @apply w-0;
}

html {
  @apply overflow-x-hidden;
}

body {
  @apply bg-primary overflow-x-hidden;
}

:where(html, body):has(dialog[open]),
:where(html, body):has(nav.opened) {
  @apply overflow-hidden!;
}

h1 {
  @apply text-[2.5rem] font-normal leading-8;
}

h2 {
  @apply text-[1.5rem] font-medium leading-4;
}

p {
  @apply text-text-secondary;
}

dialog {
  @apply m-auto border-none outline-none rounded-lg backdrop:backdrop-blur-xl backdrop:bg-secondary/50;
}
